<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= build.name %> - EZPartPicker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h1><%= build.name %></h1>
        <a href="/">Back to Builds</a>
    </header>

    <main>
        <img src="<%= build.image %>" alt="<%= build.name %>" style="width: 50%;">
        <p><%= build.description %></p>
    </main>

</body>
</html>
