<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= build.name %> - EZPartPicker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none;"><h1>EZPartPicker</h1><a>
          <nav>
              <a href="/">Home</a>
              <a href="/about">About</a>
              <a href="/contact">Contact</a>
              <div class="dropdown"><a>Build</a>
                <div class="dropdown-content">
                  <a href="/your-build">Your Builds</a>
                  <a href="/AI-build">A.I Generated Rig</a>
                  <a href="/Component">Components</a>
                  <a href="/guide">Guide</a>
              </div>
            </div>
            <% if (!user) { %>
              <a href="/login">Login</a>
              <a href="/signin">Sign Up</a>
          <% } else { %>
              <a href="/logout">Logout (<%= JSON.parse(user).name %>)</a>
          <% } %>
          </nav>
      </header>

    <main>
        <img src="<%= build.image %>" alt="<%= build.name %>" style="width: 50%;">
        <p><%= build.description %></p>
    </main>

</body>
</html>
